@page "/admin/books"
@page "/admin"

@using BookStore.Models
@using Microsoft.EntityFrameworkCore
@using BookStore.Infrastructure
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

@inherits OwningComponentBase<BookStore.Repository.IStoreRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (BookData?.Count() > 0)
        {
            @foreach (Book b in BookData)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Name</td>
                    <td>@b.Genre?.Name</td>
                    <td>@b.Price.ToString("c")</td>

                    <td>
                        <NavLink class="btn btn-info btn-sm"
                                 href="@UrlTypeEnum.Details.GetAdminUrl("Books", b.BookId)">
                            Details
                        </NavLink>
                        <NavLink class="btn btn-warning btn-sm"
                                 href="@UrlTypeEnum.Edit.GetAdminUrl("Books", b.BookId)">
                            Edit
                        </NavLink>

                        <button class="btn btn-danger btn-sm"
                                @onclick="@(() => DeleteBook(b))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No books</td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="@UrlTypeEnum.Create.GetAdminUrl("Books")">Create</NavLink>


@code {
    public BookStore.Repository.IStoreRepository Repository => Service;

    public IEnumerable<Book> BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await Repository.Books.ToListAsync();
    }

    public async Task DeleteBook(Book b)
    {
        Repository.DeleteBook(b);

        await UpdateData();
    }
}